head
  link(href="/css/socket/style.css", rel="stylesheet")
  script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.12.0/matter.min.js')
  script(src="/js/lib/socket.io.js")
body
  script(src='/js/views/test/socket/index.js')
